input[type="text"]{
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 5%;
}
input[type="Password"]{
  width: 79%;
  display: inline;
  box-sizing: border-box;
}
input[type="submit"]{
  display: inline;
  box-sizing: border-box;
}
.labels{
  display: block;
  box-sizing: border-box;
  color: white;
}
.btnlogin{
  background-color: blue;
  color: white;
  border: non;
}
.canva{
  border: 2px solid black;
  margin-bottom: 3%;
  box-sizing: border-box;
}
.Forms{
  background-color: cyan;
  margin-top: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 10%;
  box-sizing: border-box;
}
body{
  background-color: cyan;
  display: flex;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
}
.account_display{
  color: blue;
  display: flex;
  margin-bottom: 5%;
  justify-content: center;
  box-sizing: border-box;
}
@viewport{
  width: device-width;
  zoom: 1;
}
.register-display{
  color: white;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 20%;
  padding-left: 10%;
}
#password-1{
  width: 100%;
  display: inline;
  margin-bottom: 5%;
  box-sizing: border-box;
  box-sizing: border-box;
}
.alreadyHave_Account{
  margin-left: 15%;
  margin-bottom: 10%;
  margin: : 10%;
  box-sizing: border-box;
}
#register-1{
  background-color: blue;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}
.link{
  color: red;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-right: 35%;
}
.canvas{
  border: 2px solid black;
  margin-bottom: 3%;
  box-sizing: border-box;
}
.noaccount{
  text-align: center;
  margin-bottom: 5%;
}
#District{
  display: block;
  width: 100%;
  margin-bottom: 5%
}
input[type="email"]{
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 5%;
}
.do{

}
