body{
  background-color: rgb(95, 88, 88);
}
/* navigbar container */
.navigbar{
overflow: hidden;
background-color: black;
font-family: Arial;
margin: 1%;
border-radius: 10px;
}
/* Links inside the navigbar */
.navigbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 19px 50px;
  text-decoration: none;
  font-size: 17px;
}
.navigbar a:hover {
  background-color: rgb(63, 110, 110);
}
/* header container */
.header{
overflow: hidden;
background-color: #0b3123;
font-family: Arial;
margin: 1%;
border-radius: 10px;
}
/*Links inside the header */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 19px 50px;
  text-decoration: none;
  font-size: 15px;
}
/* The dropdown container */
.dropdown {
  float: left;
}
/* Dropdown button */
.dropdown .dropbtn {
  overflow: hidden;
  color: white;
  padding: 14px 16px;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}
/* Adding background color to navigbar and header, and dropdown-content links on hover */
.header a:hover, .dropdown-content a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(63, 110, 110);
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #0b3123;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 10px 16px;
  display: block;
  text-align: center;
  font-size: 13px;
}
/* Showing the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* dropdown icon */
.drop{
  float: right;
  background-color: inherit;
  width: 100px;
  margin-top: 10px;
  display: none;
}
.drop .data{
  overflow: hidden;
  color: white;
  background-color: rgb(123, 123, 150);
}
/* data in the drop down icon */
.cont{
  display: none;
}
/* links in the drop down icon */
.cont a{
  display: block;
  color: white;
}
.drop:hover .cont{
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .header a:not(:first-child):not(:last-child) {display: none;}
  .header .drop {
  display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .header.responsive {position: relative;}
  .header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.home{
  margin: 1%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
font-family: Arial;

}
.home .icon{
  width:25px;
}
.home .homelink{
  text-decoration: none;
  font-size: 150%;
  float: left;
}
.date{
  background-color: #996767;
  padding: 5px 4px;
  width: 30%;
  text-align: center;
  margin-top: 2%;
  border-radius: 10px;
}
.days{
  background-color: #333;
  padding: 5px 4px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
}
.Revenue{
  background-color: rgb(23, 23, 102);
  padding: 5px 4px;
  width: 30%;
  text-align: center;
  margin-top: 1%;
  border-radius: 10px;
}
.totalRevenue{
  background-color: #333;
  padding: 5px 4px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
}
.manageproduct{
  margin: 1%;
  background-color: rgb(226, 209, 209);
  padding: 10px;
  border-radius: 10px;
  font-size: 100%;
  color: black;
}
.manageproduct .icon{
  width:25px;
}
.open-button {
  float: right;
  background-color: rgb(15, 43, 43);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: inherit;
}
.default_image{
  width: 40%;
  margin: 2%;
  align-content: center;
}
/* The popup form - hidden by default */
.form-popup {
  float: right;
  width: 200px;
  background-color: white;
  display: none;
  border: 3px solid black;
}
input[type="text"]{
  display: block;
  margin: 1%;
}
.heading{
  background-color: #0b3123;
  color: white;
  margin: 2%;
  text-align: center;
  font-size: 150%;
}
#save{
  background-color: green;
  color: white;
}
#close{
  background-color: red;
  color: white;
  float: right;
}
.form-group{
  margin: 5%;
}
table{
  overflow-x: auto;
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(139, 125, 125);
}
.mytable{
  overflow-x: auto;
}
table, th{
  color: white;
  border: 1px solid black;
  height: 20%;
}
table, td {
  text-align: center;
  color: white;
  border: 1px solid black;
}
tr:hover {
  background-color:#635151;
}
table th:nth-child(2) {
  cursor: pointer;
}
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  height: 10px; /* Height of the horizontal scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #36226b; /* Color of the thumb (drag handle) */
  border-radius: 6px; /* Border radius of the thumb */
}
::-webkit-scrollbar-track {
  background-color: white; /* Color of the track (background of scrollbar) */
}
.available {
  color: green;
}

.unavailable {
  color: red;
}



