body{
  background-color: rgb(95, 88, 88);
}
/* navigbar container */
.navigbar{
overflow: hidden;
background-color: black;
font-family: Arial;
margin: 1%;
border-radius: 10px;
}
/* Links inside the navigbar */
.navigbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 19px 50px;
  text-decoration: none;
  font-size: 17px;
}
.navigbar a:hover {
  background-color: rgb(63, 110, 110);
}
/* header styles */
.header{
  background-color: grey;
  font-size: 150%;
  border-radius: 10px;
}
.header li{
  list-style: none;
  display: inline;
}
/* links within the header */
.header a{
  text-decoration: none;
  padding: 19px 30px;
  color: black;
  font-size: 15px;
  border-radius: 15px;
}
/* Adding background color to navigbar and header, and dropdown-content links on hover */
.header a:hover, .dropdown-content a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(63, 110, 110);
}
@media screen and (max-width: 600px) {
  .header a{
  display: block;
  text-decoration:underline;
  color: white;
  }
  .header li{
    font-size: 80%;
  }
}
/* home bar styling */
.home{
  margin: 1%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
font-family: Arial;
}
.home .icon{
  width:25px;
}
.home .homelink{
  text-decoration: none;
  font-size: 150%;
  float: left;
}
.date{
  background-color: #996767;
  padding: 5px 4px;
  width: 30%;
  text-align: center;
  margin-top: 2%;
  border-radius: 10px;
}
.days{
  background-color: #333;
  padding: 5px 4px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
}
.Revenue{
  background-color: rgb(23, 23, 102);
  padding: 5px 4px;
  width: 30%;
  text-align: center;
  margin-top: 1%;
  border-radius: 10px;
}
.totalRevenue{
  background-color: #333;
  padding: 5px 4px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
}
.manageproduct{
  margin: 1%;
  background-color: rgb(226, 209, 209);
  padding: 10px;
  border-radius: 10px;
  font-size: 100%;
  color: black;
}
.manageproduct .icon{
  width:25px;
}
.open-button {
  float: right;
  background-color: rgb(15, 43, 43);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: inherit;
}
.default_image{
  width: 40%;
  margin: 2%;
  align-content: center;
}
/* The popup form - hidden by default */
.form-popup {
  float: right;
  width: 200px;
  background-color: white;
  display: none;
  border: 3px solid black;
}
.text{
  display: block;
  margin: 1%;
}
.heading{
  background-color: #0b3123;
  color: white;
  margin: 2%;
  text-align: center;
  font-size: 150%;
}
#save{
  background-color: green;
  color: white;
}
#close{
  background-color: red;
  color: white;
  float: right;
}
.form-group{
  margin: 5%;
}
table{
  overflow-x: auto;
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(139, 125, 125);
}
.mytable{
  overflow-x: auto;
}
table, th{
  color: white;
  border: 1px solid black;
  height: 20%;
}
table, td {
  text-align: center;
  color: white;
  border: 1px solid black;
}
tr:hover {
  background-color:#635151;
}
table th:nth-child(2) {
  cursor: pointer;
}
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  height: 10px; /* Height of the horizontal scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #36226b; /* Color of the thumb (drag handle) */
  border-radius: 6px; /* Border radius of the thumb */
}
::-webkit-scrollbar-track {
  background-color: white; /* Color of the track (background of scrollbar) */
}
.available {
  color: green;
}
.unavailable {
  color: red;
}
.footer li{
  list-style: none;
  display: inline;
}
.footer a{
  color: white;
  padding: 2%;;
}
.orders{
  margin: 20%;;
  text-align: center;
  font-size: 150%;
  color: blue;
}
/* styling for settings body */
.settings{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color:  rgb(95, 88, 88);
}
.settings_form{
  padding: 5%;
  margin-top: 1%;
  background-color: grey;
  border: 1px solid black;
  border-radius: 20px;
}
.settings_title{
  font-size: 200%;
  margin-bottom: 10%;
  color: blue;
}
.usertext{
  display: flex;
  font-size: 150%;
  color: blue;
}
#usertext{
  display: block;
  font-size: 150%;
  border-radius: 10px;
}
.passwordtext{
  display: flex;
  font-size: 150%;
  color: blue;
}
#passwordtext{
  display: block;
  font-size: 150%;
  border-radius: 10px;
}
.savechanges{
  color: green;
  margin-top: 5%;
  border-radius: 10px;
  font-size: 100%;
}